$primary: rgb(24, 95, 216);
$secondary: rgb(106, 0, 255);
$bg: rgb(239, 239, 239);

$hover: 0.3s all ease-in-out;

$shadow: 0px 8px 17px rgb(86 80 76 / 4%), 0px 2px 17px rgb(86 80 76 / 4%),
  0px 1px 4px rgb(86 80 76 / 4%);
$shadow-hover: 0px 1px 4px rgb(86 80 76 / 6%), 0px 15px 30px rgb(86 80 76 / 15%);
